@{
    ViewData["Title"] = "Home Page";
}
@model List<EmpresaWeb.Models.ClienteViewModel>

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Sistema para Cadastro de Clientes</a>.</p>

    <p>
        <a asp-controller="Cliente" asp-action="Cadastro" class="btn btn-primary"> Novo Cliente </a>        
    </p>
    

    <img src="../Assets/Imagens/1.jpg" alt="" />

    
</div>

